<%= form_for @workout, :html => {:class => 'col-xs-3'} do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :duration %><br>
    <%= f.number_field :duration, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :reps %><br>
    <%= f.number_field :reps, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :sets %><br>
    <%= f.number_field :sets, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :weight %><br>
    <%= f.number_field :weight, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :created_at %><br>
    <%= f.text_field :created_at, class: "form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
