<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Duration</th>
      <th>Reps</th>
      <th>Sets</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
    <% @trends.each do |workout| %>
      <tr>
        <td><%= workout.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= workout.name %></td>
        <td><%= workout.duration %></td>
        <td><%= workout.reps %></td>
        <td><%= workout.sets %></td>
        <td><%= workout.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>
