<p id="notice"><%= notice %></p>

<% %w(name duration reps sets weight notes).each do |field| %>
  <p>
    <strong><%= "#{field.capitalize}:" %></strong>
    <%= @workout.send(field) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_workout_path(@workout), class: 'btn btn-lg btn-info' %> |
<%= link_to 'Back', workouts_path, class: 'btn btn-lg btn-danger'%>
