<%= form_for @food, :html => {:class => 'col-xs-3'} do |f| %>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost, class: 'form-control' %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
