= form_for @food, :html => {:class => 'col-xs-3'} do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .field.form-group
    = f.label :cost
    = f.text_field :cost, class: 'form-control'
  = render type, f: f
  .actions.form-group
    = f.submit class: 'btn btn-primary'
