%div.row
  = line_chart Food.group_by_day(:created_at, format: "%B %d, %Y").sum(:cost)
%div.row
  %div.col-md-6
    %label
      This week: #{this_week}
    %br
    %label
      Last week: #{last_week}
    %br
    %label
      This month: #{this_month}
    %br
    %label
      Last month: #{last_month}
    %br
    %label
      Total: #{total}
    %br
  %div.col-md-6
    = link_to 'New', new_food_path
%table.table.table-condensed.table-bordered.table-striped
  %thead
    %tr
      %th
        Date
      %th
        Food Name
      %th
        Cost
      %th
        
  %tbody
    - @food.each do |food|
      %tr
        %td
          = food.created_at.strftime("%Y-%m-%d")
        %td
          = food.name
        %td
          = food.cost
        %td
          = link_to 'edit', edit_food_path(food)
          |
          = link_to 'delete', food, method: :delete, data: { confirm: 'Are you sure?' }

= form_for(:food, url: foods_trends_path, method: :get, remote: true) do |f|
  = f.text_field :name, value: "name of food"
  = f.submit "See trends"

.results
