<!DOCTYPE html>
<html>
<head>
  <title>Drift</title>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "layouts/nav" %>
    <%= yield %>
  </div>

<!-- devise said to do this -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


</body>
</html>
